.autocomplete {
    background-color: aliceblue;
    margin: 5px;
    align-self: center;
}

.main_labels {
    color: aliceblue;
    text-shadow: 0 0 3px #000;
    font-family: 'Times New Roman', Times, serif;
}