.autocomplete {
    background-color: aliceblue;
    margin: 20px;
    align-self: center;
}

.main_labels {
    color: aliceblue;
    text-shadow: 0 0 3px #000;
    font-family: 'Times New Roman', Times, serif;
}

.square_title {
    font-family: Helvetica; 
    color: darkblue;
    padding: 0px;
    margin-bottom:2px
}

.div_background {
    background-color: aliceblue;
    background-size: contain;
    width: 100%;
    height: 100vh;
    padding-top: 20px
}
